
@{
    ViewBag.Title = "Ögrenciler";
}

<h1>Öğrenciler</h1>

<div class="row">
    <div class="col-md-4">
        
            <ul>
                @foreach (var item in ViewBag.Ogrenciler)
                {
                <li>@Html.ActionLink("Sil", "StudentDelete", new { id = item.Id})--@Html.ActionLink("Düzenle", "StudentEdit", new { id = item.Id, FullName = item.FullName, StudentNo = item.StudentNo, ClassNo = item.ClassNo })-- @item.FullName - @item.ClassNo</li>
                }
            </ul>  
        
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        
    </div>
</div>